/*selector de etiqueta*/
h1{
    color:magenta
}
h2{
    color:blue
}
/*selector de clase*/
oscuro{
background-color: black;
background-color: rgb(119, 28, 184);
}
/*selector ID*/
#Biografia {
    background-color: green;
    color:darkgreen;
}